{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<article class="cv-entry" itemscope itemtype="http://schema.org/CreativeWork">
  <h3 class="cv-entry__title" itemprop="headline">
    {% if post.link %}
      <a href="{{ post.link }}">{{ title }}</a>
    {% else %}
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    {% endif %}
  </h3>
  {% if post.aurthors %}
    <p class="cv-entry__meta">{{ post.aurthors }}</p>
  {% elsif post.authors %}
    <p class="cv-entry__meta">{{ post.authors }}</p>
  {% endif %}
  {% if post.collection == 'teaching' and post.date %}
    <p class="cv-entry__detail">{{ post.type }}{% if post.venue %}, {{ post.venue }}{% endif %}, {{ post.date | date: '%Y' }}</p>
  {% elsif post.venue %}
    <p class="cv-entry__detail">{{ post.venue }}</p>
  {% endif %}
</article>
