{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<article class="publication-entry" itemscope itemtype="http://schema.org/ScholarlyArticle">
  <h2 class="publication-entry__title" itemprop="headline">
    <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
  </h2>

  {% if post.aurthors %}
    <p class="publication-entry__authors">{{ post.aurthors }}</p>
  {% elsif post.authors %}
    <p class="publication-entry__authors">{{ post.authors }}</p>
  {% endif %}

  <p class="publication-entry__meta">
    {% if post.venue %}<span>{{ post.venue }}</span>{% endif %}
    {% if post.date %}<span>{{ post.date | date: "%Y" }}</span>{% endif %}
  </p>

  {% if post.excerpt %}
    <div class="publication-entry__abstract" itemprop="description">
      {{ post.excerpt | markdownify }}
    </div>
  {% endif %}

  <div class="publication-entry__links">
    {% if post.paperurl %}
      <a href="{{ post.paperurl }}" class="btn btn--inverse">Paper</a>
    {% endif %}
    <a href="{{ base_path }}{{ post.url }}" class="publication-entry__permalink">Details</a>
  </div>
</article>
